
<% include ../partials/_head %>
<% include ../partials/_header %>



	<h2> Congratulations! </h2>
	<h2><%= you %> matched with <%= match%></h2>

	<p> Below are the available dates you can go: </p>

	<% for (let a = 0; a < dates.length; a++) {%>
		<%= dates[a].name %>
		<%= dates[a].price %>
		<%= dates[a].address %>
		<%= dates[a].type %>


	<% }%>

<% include ../partials/_footer %>
